{% extends 'AppMasBus/part.html' %}
{% block PART %}
<align = "center">

<br><br>
<img src="/static/images/text_negro.png" alt="logo" width="250"/>
<br><br><br>

<div class="row">
	
	<div class="col-lg-3">
		<form action = "{% url 'AppMasBus:buscarViaje' %}"><button type="submit" class="btn btn-lg btn-default">Buscar viajes</button></form>
	</div>

	<div class="col-lg-3">
		<form action = "{% url 'AppMasBus:buscaEmpresa'%}"><button type="submit" class="btn btn-lg btn-default">Buscar empresas</button></form>
	</div>
	
</div>
{% endblock %}