{% extends 'AppMasBus/part.html' %}
{% block PART %}


<h2> Datos de empresa: </h2>

<h3> {{empresa.nombreEmpresa}} </h3>

<br>
<p>Calificación actual: {{promedioCalificacion}}, con {{cantidadVotos}} votos </p>

<br>
<p>Tu calificación: </p>

<form action = "{% url 'AppMasBus:finCalificacion'  %}" method = "post">
	{% csrf_token %}
	<input name="empresa" value={{empresa.id}} style="visibility: hidden">
	<div class="btn-toolbar" style="margin: 0;" role="toolbar">
		<div class="btn-group">
	          <button type="radio" name="opcion" type="submit" class="btn btn-default" value= 1>1</button>
	          <button type="radio" name="opcion" type="submit" class="btn btn-default" value= 2>2</button>
	          <button type="radio" name="opcion" type="submit" class="btn btn-default" value= 3>3</button>
	          <button type="radio" name="opcion" type="submit" class="btn btn-default" value= 4>4</button>
	          <button type="radio" name="opcion" type="submit" class="btn btn-default" value= 5>5</button>
		</div>
	</div>
</form>


{% endblock %}